<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
	<add key="FTP.Host" value="165.193.51.29" />
	<add key="FTP.Path" value="/jqxynop_reslive" />
    <add key="FTP.Username" value="54375broadway" />
    <add key="FTP.Password" value="Tare2vbc" />
    <add key="FTP.MatchWildcard" value="jqxynop_reslive*.bak" />
    <add key="Db.Staging.Server" value="CMEYERTONS10VM" />
    <add key="Db.Azure.Server" value="wpr-poc-std-sqls.database.windows.net" />
    <add key="Db.Azure.Name" value="wpr-poc-std-sql" />
    <add key="Db.Azure.User" value="carlmeyertons" />
    <add key="Db.Azure.Password" value="Password1!" />
	<add key="Db.Azure.Edition" value="Standard" />
	<add key="Db.Azure.ServiceObjective" value="S1" />
	<add key="Email.Host" value="smtp.gmail.com" />
	<add key="Email.Port" value="587" />
	<add key="Email.Username" value="yardirestore@gmail.com" />
	<add key="Email.Password" value="TKNh2fOd74Uq" />
	<add key="Email.Recipients" value="carlmeyertons@gmail.com" />
	<!--feature toggles-->
	<add key="FTP.IsEnabled" value="true" />
	<add key="Db.Staging.IsEnabled" value="true" />
	<add key="Db.Azure.IsEnabled" value="true" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>