<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key ="FTP.Host" value="ftp://speedtest.tele2.net"/>
    <add key ="FTP.Username" value="anonymous"/>
    <add key ="FTP.Password" value=""/>
    <add key ="FTP.MatchWildcard" value="100KB*.zip"/>
    <add key ="Db.Server" value="CMEYERTONS10VM"/>
    <add key ="Db.Name" value="WPRTest"/>
    <add key ="Test.OverrideFileName" value="C:\Temp\WPRTest.bak"/>
  </appSettings>
</configuration>